.example-animate-container {
  background: #F8F8F8;
  list-style: none;
  margin: 0;
  position: relative;
  bottom: 5px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

li.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
  clear: both;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.video-js {
    max-width: 720px;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
}

.vjs-fullscreen {
    max-width: none !important;
}

.video-js .vjs-tech {
    position: relative !important;
    width: 100% !important;
    height: auto;
}

#video {
    line-height: 0;
}

.vjs-slider {
    line-height: initial;
}

.vjs-fullscreen .vjs-tech {
    height: 100% !important;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.mySubmit {
  background:url(go.png) no-repeat;
	background-size: 55px 55px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: none;
}

[ui-view] {
  height: 100%;
}

.flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
}

.good {
  color: green;
}

.borderline {
  color: orange;
}

.bad {
  color: red;
}

.terminated {
  text-decoration: line-through;
}

.done {
  color: green;
  font-weight: bold;
}